@using System.Security.Claims
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

<!DOCTYPE html>
<html lang="en">
@{
  var identity = (ClaimsIdentity)User.Identity;
  var role = identity.FindFirst(ClaimTypes.Role) != null ? identity.FindFirst(ClaimTypes.Role).Value : "";
  var isAdmin = Config.GetValue<bool>("IsNormalUserAllowed") || role == "Administrator";
}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - BeckmanCoulter.BookStore</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <nav class="navbar fixed-top navbar-light navbar-expand">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" /></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item @(ViewData["Route"].ToString() == "home" ? "active" : "")">
          <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item @(ViewData["Route"].ToString() == "book" ? "active" : "")">
          <a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
        </li>
        <li class="nav-item @(ViewData["Route"].ToString() == "mybook" ? "active" : "")">
          <a class="nav-link" asp-area="" asp-controller="Books" asp-action="MyBook">My History</a>
        </li>
        @if (isAdmin)
        {
          <li class='nav-item @(ViewData["Route"].ToString() == "uploadlist" ? "active" : "")'>
            <a class="nav-link" asp-area="" asp-controller="Books" asp-action="UploadList">Upload</a>
          </li>
        }
      </ul>
    </div>
    <partial name="_LoginPartial" />
  </nav>
  <partial name="_CookieConsentPartial" />
  <div class="container body-content">
    @RenderBody()
  </div>

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
