@model BeckmanCoulter.BookStore.DbEntity.Book

@{
  ViewData["Title"] = "Details";
  ViewData["Route"] = "book";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Details">
  <div class="container">
    <div style="margin-top: 20px; margin-bottom: 20px; font-size: 20px;">
      @Html.DisplayFor(model => model.Name)
    </div>
    <div>
      <img src="@Url.Content(Model.Image)" style="width: 300px;" />
    </div>

    <div style="margin-top: 20px; line-height: 25px; font-size: 13px;">
      @Html.DisplayFor(model => model.Description)
    </div>

    @if (ViewBag.BorrowListCount > 0)
    {
      <table class="table" style="margin-top: 20px; font-size: 13px;">
        <thead>
          <tr>
            <th scope="col">借书者</th>
            <th scope="col">借书时间</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in ViewBag.BorrowList)
          {
            <tr>
              <td>@item.BorrowEmail</td>
              <td>@item.BorrowTime</td>
            </tr>
          }
        </tbody>
      </table>
    }

    <div style="margin-top: 20px; margin-bottom: 20px;">
      @if (Model.Quantity > 0)
      {
        <button type="submit" class="btn btn-success">借书</button>
      }
      else
      {
        <div style="color: red; margin-bottom: 20px;">这本书没有库存了！</div>
      }
      <a href="/books/index" class="btn btn btn-light" role="button" aria-pressed="true">返回</a>
    </div>
  </div>
</form>

